/* Body css customized*/
.sv_body{
  width: 80%;
  margin: auto;
}
/* Header Title */
.sv_main .sv_container .sv_header h3 {
  font-size: 2.5em;
  font-weight: bold;
  color: darkcyan;
}
/* 
  Question Set Title 
*/
.sv_main .sv_container .sv_header h3 {
  text-align: center;
}
/* 
  Section Header Title
*/
.sv_main .sv_container .sv_body .sv_p_root .sv_page_title {
  font-size: 1.5em;
}

/* Button Height Customized */
.sv_main input[type="button"], .sv_main button {
  line-height: 3em;
}



/* Prograss Bar css */
.sv_main .sv_container .sv_body .sv_progress {
  height: 0.8em;
}
/*
save and resume letter button 
 */

.save_resume{
  width: 180px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 18px;
  cursor: pointer;
  color: #1ab394;
  background: #e7e7e7;
  border: 1px solid;
  outline: none;
  transition: all 1s;
  
}
.save_resume.offline{
  border: 1px solid rgba(255, 0, 0, 0.555);
  color: rgba(255, 0, 0, 0.555);
}

/* Modal Css */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal.thanks{
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  animation-name: modal_appear;
  animation-duration: 1s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
}

/* 
  All keyframes
 */
@keyframes modal_appear{
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal_title{
  margin: auto;
  color: #888;
  margin-bottom: 10px;
}
.modal_title.success{
  color: #1ab394;
}
.modal_input_group{
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.modal_input_label{
  text-align: left;
}
.modal_input{
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(26, 179, 148);
}
.modal_btn{
  background-color: transparent;
  border-radius: 5px;
  margin: auto;
  width: 100%;
  border: 1px solid rgb(26, 179, 148);
  outline: none;
  cursor: pointer;
}
.online_status{
  width:100%;
  height: 5px;
  background-color:#1ab394;
  transition: all 1s;
}
.online_status.offline{
  background-color: rgba(255, 0, 0, 0.555);
}
.sv_main.sv_default_css .sv_progress_bar{
  transition: all 1s;
}
.sv_main.sv_default_css .sv_progress_bar.offline{
  background-color: rgba(255, 0, 0, 0.555);
}
.sv_p_root{
  transition: all 1s;
}
/* 
  Media queries
*/
@media only screen and (max-width: 700px)  {
  .sv_body{
    width: 95%;
    margin: auto;
  }
}

.modal_input_group.cnf{
  flex-direction: row;
}
.modal_btn.cnf{
  margin: 10px;
}